.row{
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
}
.col-6{
    width: 50%;
    padding: 0 15px;
    box-sizing: border-box;
}
.col-3{
    width: 25%;
    padding: 0 15px;
}

/*@media (max-width: 54px) {*/
/*    .col-6{*/
/*        width: 100%;*/
/*    }*/
/*}*/